@import "tailwindcss";
@import "antd/dist/reset.css";

/* Override default media query to use the .dark class added by next-themes */
@variant dark (&:where(.dark, .dark *));

input, button, select, optgroup, textarea {
  margin: 10;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
/* You can safely remove the old :root and @media blocks. 
   Tailwind's dark: utility classes will now handle all the color switching! */